Makefile
/Makefile.am
Makefile.in
aclocal.m4
agents/*.tmp
agents/test-mailtable.trs
autom4te.cache
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac
depcomp
doc
install-sh
*.pot
libtool
ltconfig
ltmain.sh
missing
mkinstalldirs
stamp-h*
test-driver
Makefile.am.common
*.ami
*.bz2
.dep
tmp.*
*.log
.yardoc
/coverage
