Makefile
/Makefile.am
Makefile.am.common
Makefile.in
aclocal.m4
autom4te.cache
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac
depcomp
doc/
install-sh
*.pot
libtool
ltconfig
ltmain.sh
missing
mkinstalldirs
stamp-h*
test-driver
tmp.*
*.ami
*.bz2
.dep
*.trs
*.log
*.out.tmp
.yardoc/
